.curious-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin-top: 50px;
}

.curious-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.curious-content-wrapper > div {
  padding: 8px 18px;
  border-radius: 20px;
  background-color: #ffd56c;
  border: 2px solid #ffd56c;
}
.curious-content-wrapper > div:hover{
   background-color: #ffffff;
   color: #ffd56c;
}
.curious-button-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.curious-buttons {
  display: flex;
  padding: 40px 35px;
  border-radius: 20px;
  border: 1px solid #c3c3c3;
  gap: 1.5vw;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.curious-buttons:hover{
  border: 1px solid transparent;
  background-color: #FFF6E0;
}
.curious-buttons h1 {
  font-weight: 500;
  font-size: 30px;
}

.curious-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #fbba16;
  color: black;
  padding: 10px 30px;
  border-radius: 10px;
  height: fit-content;
  font-weight: 500;
}
@media screen and (max-width: 1300px) {
  .curious-buttons {
    padding: 35px 20px;

    gap: 3vw;

    width: 44vw;
  }
}
@media screen and (max-width: 990px) {
  .curious-buttons {
    padding: 30px 20px;

    gap: 2vw;

    width: fit-content;
    min-width: 420px;
  }
}
@media screen and (max-width: 990px) {
  .curious-buttons {
    padding: 30px 20px;

   justify-content: space-between;
    min-width: 420px;
  }
}
@media screen and (max-width: 550px) {
  .curious-content-wrapper{
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .curious-buttons {
    padding: 28px 20px;

    gap: 2vw;

    width: fit-content;
    min-width: 350px;
  }
  .curious-buttons h1 {
    font-size: 28px;
  }
  .curious-buttons a {
    padding: 10px 20px;
  }
}
