.home-wrapper {
  width: 100vw;
  height: 100vh;
}
.home-screen-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  overflow: hidden;
}

.home-screen-wrapper h2 {
  font-size: 3vw;
  color: #ffb700;
}
.home-screen-wrapper h1 {
  font-size: 4vw;
  margin-top: -1.7vw;
}

.home-screen-wrapper div {
  height: 100%;
  min-width: 900px;
}

.home-screen-wrapper div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px){

.home-screen-wrapper h2 {
  font-size: 50px;
  color: #ffb700;
}
.home-screen-wrapper h1 {
  font-size: 60px;
  margin-top: -25px;
}

}@media screen and (max-width: 780px){

.home-screen-wrapper h2 {
  font-size: 45px;
  color: #ffb700;
}
.home-screen-wrapper h1 {
  font-size: 50px;
  margin-top: -25px;
}

}

@media screen and (max-width: 650px){

.home-screen-wrapper h2 {
  font-size: 40px;
  color: #ffb700;
}
.home-screen-wrapper h1 {
  font-size: 40px;
  margin-top: -21px;
}

}@media screen and (max-width: 490px){

.home-screen-wrapper h2 {
  font-size: 33px;
  color: #ffb700;
}
.home-screen-wrapper h1 {
  font-size: 30px;
  margin-top: -15px;
}

}