.navbar-wrapper {
  display: flex;
  width: 100vw;
}
.navbar {
  display: flex;
  width: 100vw;
  padding: 1.5vh 3vw;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 9000;
  justify-content: center;
  top: 0;
}
.nav-logo {
  width: 90px;
}
.navbar-desk {
  display: flex;
  align-items: center;
  gap: 2.3vw;
}

.navbar-mob {
  display: none;
}
.navbar-wrapper a {
  color: black;
  font-weight: 500;
}
.navbar-wrapper a:hover{
  color: #FBBA16;
}

@media screen and (max-width: 880px) {
  .navbar-mob {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  .navbar-desk {
    display: none;
  }
  .menu-div {
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
  }
 
}
