.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10vw;
  gap: 15px;
}

.footer-toper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.footer-toper  img{
  width: 120px;
}

.footer-toper > div {
  display: flex;
  gap: 30px;
}
.footer-toper > div > a:hover {
  color: #ffd56c;
}
.footer-toper a {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-bottom p {
  font-size: 13px;
  color: #b5b5b5;
}

@media screen and (max-width: 700px) {
  .footer-toper {
    flex-direction: column;
    gap: 20px;
  }
  .footer-toper > div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-wrapper {
    gap: 20px;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 530px){

  .footer-toper a {
  
  font-size: 13px;
}

.footer-toper > div {
  gap: 15px;
}
}@media screen and (max-width: 410px){

  .footer-toper a {
  
  font-size: 12px;
}

.footer-toper > div {
  gap: 13px;
}
}
