.testimonial-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vh 0vw;
}

.wrapper {
  display: flex;
  height: fit-content;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: scroll;
  width: 90%;
}

.card {
  margin: 0 20px;
  width: 450px;
  flex-shrink: 0;
  height: 320px;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('../../assets/testimonial/bg.png') center center/cover no-repeat;
}

.card-name-img {
  display: flex;
  text-align: right;
  gap: 10px;
}

.content {
  height: fit-content;
  width: auto;
  height: 300px;
  display: flex;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
  margin-top: 50px;
}

.content .images {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 1.5rem;
  width: calc(250px * 14);
  height: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@media (width< 768px) {
  .content {
    height: 210px;
  }

  .content .images {
    width: calc(250px * 7);

    
  }
}