.testimonial-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vh 0vw;
}

.wrapper {
  display: flex;
  height: fit-content;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: scroll;
  width: 75%;
  gap: 20px;
}

.card {
  min-width: 350px;
  min-height: 270px;
  margin: 0 0px;
  width: 38vw;
  flex-shrink: 0;
  height: 400px;
  padding: 3vh 4.5vw 0vh;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../assets/testimonial/bg.png") center center/cover no-repeat;
}

.card>p {
  font-size: 1.5vw;
  text-align: left;
}

.card-name-img {
  display: flex;
  text-align: right;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
}

.card-name-img> :nth-child(2) {
  width: 90px;
  height: 80px;
  border-radius: 50%;
}

.person-name h2 {
  font-size: 26px;
  font-weight: 500;
}

.person-name p {
  font-size: 0.8rem;
  width: 13vw;
}

.slider-container {
  margin-top: 2rem;
  width: 100%;
  height: 300px;
}

.slider-wrapper {
  display: flex;
  gap: 1.3rem;
  animation: slide 20s linear infinite;
}

.slider-wrapper:hover {
  animation-play-state: paused;
}

.slider-wrapper img {
  width: 100%;
  height: 300px;
  filter: saturate(.1);
  transition: all .3s ease-in-out;
}

.slider-wrapper img:hover {
  cursor: pointer;
  filter: saturate(1);
  scale: 1.05;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (width < 820px) {
  .slider-container {
    height: 200px;
  }

  .slider-wrapper img {
    height: 200px;
  }
}

@media screen and (max-width: 1300px) {
  .card {
    width: 500px;
    height: 340px;
    padding: 20px 20px 0vh;
  }

  .person-name p {
    width: 100%;
  }

  .card>p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    width: 85%;
  }

  .card {
    width: 480px;
    height: 310px;
  }
}

@media screen and (max-width: 970px) {
  .wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 780px) {
  .card {
    width: 450px;
    height: 320px;
    padding: 20px 20px 0vh;
  }

  .card>p {
    font-size: 18px;
  }

  .person-name h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 570px) {
  .card {
    width: 400px;
    height: 300px;
  }

  .card>p {
    font-size: 17px;
  }

  .person-name h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 460px) {
  .wrapper {
    width: 97%;
  }

  .card {
    width: 350px;
    height: 230px;
    min-height: 200px;
  }

  .card>p {
    font-size: 14px;
  }

  .person-name h2 {
    font-size: 17px;
  }

  .person-name p {
    font-size: 10px;
  }
}