@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", "Red Hat Text", "MyFont";
  src: local("MyFont"), url("./fonts/rage.TTF") format("woff");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}
#root {
max-width: fit-content;
width: 100%;
padding: 0%;
margin: 0%;
}

@font-face {
  font-family: "Rage";
  src: local("GoldmanBold"), url("./fonts/rage.TTF") format("truetype");
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
  background-color: #c31616;
}
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.color-font {
  color: #fbba16;
}
